<div class="register">

  
  <div class="register-container">
    <form class="register-form" (ngSubmit)="register()">
      <h1 class="register-title">Registro</h1>
      <ion-list>
        <ion-item>
          <ion-input type="email" [(ngModel)]="email" name="email" required labelPlacement="stacked" label="Email"
            placeholder="email@example.com">
            <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
            </ion-button>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="password" name="password" required labelPlacement="stacked"
            label="Password" placeholder="•••••••••••••">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button block color="primary" type="submit" style="margin-top: 40px;">
        Empezar
      </ion-button>
      <p style="text-align: center;">Ya tienes una cuenta? <a routerLink="/">Iniciar Sesión</a></p>
    </form>

  </div>

</div>
<!-- <ion-button (click)="signInGoogle()">
  Google
</ion-button>
<ion-button (click)="getCurrenUser()">
  Usuario
</ion-button> -->