.register-container {
    display: flex;
    justify-content: center;
}

.register-form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
}

.register-container .register-form ion-item {
    margin-top: 30px;
}

ion-button {
    margin-top: 30px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
}


.register {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}